 /* Устанавливаем темный фон страницы */
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            background-color: #212529; /* Темный фон */
            color: white;
        }

        .carousel-inner img {
                height: 200px;
                object-fit: cover;
            }

        /* Центрируем блок с текстом */
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        /* Кнопка перехода */
        .btn-main {
            margin-top: 20px;
            background-color: #007bff;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            padding: 10px 30px;
        }

        .btn-main:hover {
            background-color: #0056b3;
        }

        /* Стиль для кота */
        .cat {
            position: fixed;
            width: 500px;
            height: 500px;
            background-image: url('https://png.klev.club/uploads/posts/2024-04/png-klev-club-5k5w-p-grustnii-kotik-png-24.png'); /* Путь к изображению кота */
            background-size: cover;
            bottom: -520px; /* Начальная позиция за нижней границей экрана */
            z-index: 1;
            opacity: 0;
        }

        /* Анимация для кота */
           @keyframes appearCat {
            0% {
                bottom: -520px;
                opacity: 0;
            }
            50% {
                bottom: 0px; /* Расположение кота над экраном */
                opacity: 1;
            }
            100% {
                bottom: 0px; /* Оставаться на месте */
                opacity: 1;
            }
        }

        /* Футер */
        footer {
            margin-top: auto; /* Прижать футер к низу */
            background-color: #343a40; /* Тёмный фон для футера */
            text-align: center;
            padding: 10px 0;
        }
/* Контейнер логотипа */
.logo-container {
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    position: absolute; /* Абсолютное позиционирование */
    z-index: 10; /* Поверх других элементов */
    background: rgba(255, 255, 255, 0.7); /* Полупрозрачный фон */
    padding: 5px; /* Внутренний отступ */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Лёгкая тень */
}

/* Логотип */
.logo {
    max-width: 40px; /* Ограничение ширины */
    max-height: 40px; /* Ограничение высоты */
    object-fit: contain; /* Сохранение пропорций */
    border-radius: 4px; /* Скруглённые углы логотипа */
}
